<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
     <button ion-button icon-only (click)="setDashboard()">
      <ion-icon name="ios-home"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-card text-center color="primary">
    <ion-slides pager>
      <ion-slide style="background-color: #3fbae4">
        <ion-card-header>
          Jadwal Masuk
        </ion-card-header>
        <ion-card-content>
          <p>1-Agustus-2017</p>
          <h1>07:00</h1>
        </ion-card-content>
      </ion-slide>
      <ion-slide style="background-color: #3fbae4">
        <ion-card-header>
          Jadwal Pulang
        </ion-card-header>
        <ion-card-content>
          <p>1-Agustus-2017</p>
          <h1>16:00</h1>
        </ion-card-content>
      </ion-slide>
      <ion-slide style="background-color: #3fbae4">
        <ion-card-header>
          Batas waktu masuk
        </ion-card-header>
        <ion-card-content>
          <p>1-Agustus-2017</p>
          <h1>07:15</h1>
        </ion-card-content>
      </ion-slide>
      <ion-slide style="background-color: #3fbae4">
        <ion-card-header>
           Batas waktu pulang
        </ion-card-header>
        <ion-card-content>
          <p>1-Agustus-2017</p>
          <h1>15:00</h1>
        </ion-card-content>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-card text-center color="hijau-muda">
    <ion-slides pager>
      <ion-slide style="background:linear-gradient(to bottom, #95b75d 0%, #89ad4d 100%)">
        <ion-card-content>
          <p>Total Bulan Ini</p>
          <h1>48 Jam , 43 Menit</h1>
        </ion-card-content>
      </ion-slide>
      <ion-slide style="background:linear-gradient(to bottom, #95b75d 0%, #89ad4d 100%)">
        <ion-card-content>
          <p>Total Minggu Ini</p>
          <h1>31 Jam , 43 Menit</h1>
        </ion-card-content>
      </ion-slide>

    </ion-slides>
  </ion-card>
  <ion-card>
      <ion-card-header>
        Rekapitulasi Absensi
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
</ion-content>
