<!--
  Generated template for the JadwalDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detail Jadwal</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-card>
    <ion-header>
      <ion-card-header>
       <h2>Jadwal Standar PNS</h2>
     </ion-card-header>
     <ion-card-content>
        <ion-list>
          <ion-row>
            <ion-col>(Senin - kamis) :</ion-col>
            <ion-col> 07:15:00 - 15:30:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Batas masuk/pulang :</ion-col>
            <ion-col> 5:00:00 / 17:00:00</ion-col>
          </ion-row>
          <ion-row >
            <ion-col>(Jumat) :</ion-col>
            <ion-col> 07:00:00 - 11:30:00</ion-col>
          </ion-row>
          <ion-row >
            <ion-col>Batas Masuk/Pulang :</ion-col>
            <ion-col> 5:00:00 / 13:00:00</ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-header>
  </ion-card>
</ion-content>
