<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar color="headersiabjo">
      <ion-title text-center>SIABJO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content no-padding>
    <ion-card>
    <ion-row text-center>
      <img src="assets/img/siabjo.jpg" text-center style="height: 100px; border: 1px solid black;" col-md-5/>
      <div col-md-7 \>
        <h1>Pepen Fredyrian Pragista</h1>
        <p>Staf Pengolahan Data dan Formasi Pegawai 
Badan Kepegawaian Daerah</p>
      </div>
    </ion-row>
  </ion-card>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>{{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

